---
sidebar_position: 0
slug: /
toc_min_heading_level: 2
toc_max_heading_level: 5
title: Specification
---

:::info
This specification is for now just a proposal.  
Input and feedback is *VERY MUCH* welcome!
:::

<%SPEC%>